.btn {
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    padding: 5px 15px;
}
.btn-success {
    background-color: $button-success-bg;
    border-color: $button-success-bg;
    color: $button-success-color;
}
.btn-default {
    background-color: #fff;
    border-color: #bfcbd9;
    color: #1f2d3d;
}