.btn {
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    padding: 5px 15px;
}
.btn-success {
    background-color: #00bcf2;
    border-color: #00bcf2;
    color: #fff;
}
.btn-default {
    background-color: #fff;
    border-color: #bfcbd9;
    color: #1f2d3d;
}