body {
  margin: 0;
  font-size: $normal-size;
}

html,
body {
  height: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
}

p,
h2,
h4,
h6, {
  margin: 0;
}

input,
textarea {
  outline: none;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}