@mixin apin-menu($width) {
  width: $width;
  height: 100%;
  box-sizing: border-box;
  border-right: 1px solid $menu-bg-border-color;
  color: $menu-color;
  background-color: $menu-bg-color;
  .menu-arrow {
    border-bottom: 1px solid $menu-bg-border-color;
  }
  &.apin-top-menu {
    position: relative;
  }
  &.apin-menu-child {
    position: absolute;
    top: 0;
    left: calc(100% + 1px);
  }
  [class^=apin-icon-] {
    font-size: 14px;
  }
}
.apin-menu {
  @include apin-menu(225px);
  transition: width .3s cubic-bezier(.215,.61,.355,1);
  &.collapsed {
    width: 60px;
  }
}
.sub-menu-title {
  position: relative;
  padding: 0 20px;
  line-height: 40px;
  .icon-close {
    position: absolute;
    top: (40px - 14px) / 2;
    right: 15px;
    cursor: pointer;
  }
}