@import './variable';
@mixin apin-menu($width) {
  width: $width;
  height: 100%;
  box-sizing: border-box;
  border-right: 1px solid $menu-bg-border-color;
  color: #fff;
  background-color: $menu-bg-color;
  .menu-arrow {
    border-bottom: 1px solid $menu-bg-border-color;
  }
  &.apin-top-menu {
    position: relative;
  }
  &.apin-menu-child {
    position: absolute;
    top: 0;
    left: calc(100% + 1px);
  }
  [class^=apin-icon-] {
    font-size: $menu-item-icon-size;
  }
}
.apin-menu {
  @include apin-menu($menu-width);
  transition: width .3s cubic-bezier(.215,.61,.355,1);
  &.collapsed {
    width: $menu-width-collapse;
  }
}
.sub-menu-title {
  position: relative;
  padding: 0 $menu-item-padding;
  line-height: $menu-item-height;
  .icon-close {
    position: absolute;
    top: ($menu-item-height - $menu-item-icon-size) / 2;
    right: 15px;
    cursor: pointer;
  }
}