/* color */
$dark: #202428;
$light-dark: #3d4247;
$light-grey: #282d32;
$grey: #454545;
$light: #f1f1f8;
/* size */
$normal-size: 14px;
$middle-size: 16px;
// layout
$head-color: white;
$head-bg-color: $dark;
$head-height: 40px;
$head-search-text-color: #fff;
$head-search-text-height: 28px;
// content
$content-bg: $light;
// menu
$menu-width: 225px;
$menu-width-collapse: 60px;
$menu-color: white;
$menu-bg-color: $light-grey;
$menu-bg-border-color: $light-dark;
// menu-item
$menu-item-icon-size: $normal-size;
$menu-item-height: 40px;
$menu-item-padding: 20px;
$menu-item-bg-color-hover: $dark;