// size
$normal-size: 14px;
$middle-size: 16px;
$large-size: 20px;

// layout
$head-color: white;
$head-bg-color: #202428;
$head-search-text-color: white;
//header
$head-hover-color: #3d4247;
// content
$content-bg: #f1f1f8;
// menu
$menu-color: white;
$menu-bg-color: #282d32;
$menu-bg-border-color: #3d4247;
// menu-item
$menu-item-bg-color-hover: #202428;